$main-red: #C91717;
$background: #F4F5F6;
$line-grey: #707070;

$transition-fast: all 0.1s ease-in-out 0s;
$transition-med: all 0.2s ease-in-out 0s;

$detail-font: "Montserrat",
  sans-serif;

.icon {
  &-sm {
    width: 1rem;
    height: 1rem;
  }
  &-md {
    width: 2.5rem;
    height: 2.5rem;
  }
  &-lg {
    width: 4rem;
    height: 4rem;
  }
}
