@import '_variables';

.header-bottom {
  @extend .header;

  .header-content__right {
    a {
      transition: none;
    }
  }
}

.header-scrolled {
  background-color: $main-red;
  border-bottom: 1px solid $main-red !important;

  .header-content__left {
    a {
      color: #FFF;
    }

    a:before {
      background-color: #FFF;
      color: #FFF;
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid $line-grey;
  z-index: 99;
  transition: $transition-med;

  &-content {
    width: 100vw;

    &__left {
      transition: $transition-med;

      &-mobile {
        display: none;
        visibility: hidden;
        height: 0px;

        img {
          margin: 1rem;
        }
      }

      &-desktop {
        display: inherit;
        a {
          color: #000;
          margin: 1rem;
          font-size: 2em;
          position: relative;
          text-decoration: none;
        }

        a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: #000;
          visibility: hidden;
          transform: scaleX(0);
          transition: $transition-med;
        }

        a:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }

    &__right {
      padding: 0rem 1rem 0rem 1rem;

      a {
        opacity: 1;
        visibility: visible;
        color: #FFF;
        padding: 0rem 1rem 0.2rem 1rem;
        font-size: 2em;
        border: 3px solid #FFF;
        border-radius: 0.75rem;
        text-decoration: none;
      }

      a:hover {
        color: $main-red;
        background-color: #FFF;
        transition: $transition-med;
      }

      &-alt {
        a {
          margin: 1rem;
          border: none;
        }
      }
    }
  }

}

@media only screen and (max-width: 960px) {
  .header {
    height: 96px;
    width: 100vw;
    background-color: $main-red;
    border-bottom: none;

    &-content {
      &__left {
        &-mobile {
          display: block;
          visibility: visible;
          height: 100%;
        }
        &-desktop {
          display: none;
          visibility: hidden;
          height: 0px;
          width: 0px;
        }
      }
    }
  }
}
