@import '_variables';

.landing-scrolled {

  .landing-right {
    background-position: left bottom;

    h3 {
      color: #000;
    }
  }

  .landing-cta {
    p, img {
      opacity: 0;
    }
  }
}

.landing {
  width: 100vw;
  height: 100vh;

  &-left {
    width: 61.8%;
    height: 100%;

    h1 {
      margin: 0rem;
      margin-right: 1rem;
      text-align: right;
      font-size: 7em;
      font-weight: bold;
      color: #C91717;
      transition: $transition-med;
    }
  }

  &-cta {
    position: absolute;
    top: 85vh;
    width: 100%;
    transition: $transition-med;

    div {
      cursor: pointer;
      p {
        top: 0;
        visibility: visible;
        opacity: 1;
        margin: 0rem;
        margin-top: 0.1rem;
        font-style: italic;
        font-size: 1.5em;
        transition: $transition-med;
      }

      img {
        visibility: visible;
        opacity: 1;
        height: 50px;
        width: 50px;
        transition: $transition-med;
      }
    }

    div:hover {
      p {
        margin-top: 0rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  &-right {
    width: 38.2%;
    background: linear-gradient(to left, $main-red 50%, $background 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    height: 100%;
    transition: 0.25s ease;

    h3 {
      transform: translateY(5rem);
      margin: 0rem;
      margin-left: 1rem;
      text-align: left;
      font-size: 2em;
      color: #FFF;
      transition: $transition-med;
    }
  }
}
