@import '_variables';

.projects {

  .project {
    margin: 1.5rem;

    h3 {
      color: #000;
    }

    img {
      fill: $main-red;
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .projects {
    width: 100%;

    .project {
      margin: 0px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 45%;

      &-row {
        justify-content: space-between;
      }

      h3 {
        color: #000;
      }

      img {
        fill: $main-red;
        border-radius: 50%;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .projects {
    .project {
      h3 {
        font-size: 3em;
      }

      img {
        height: 12rem;
        width: 12rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .projects {
    .project {
      h3 {
        font-size: 2.25em;
      }

      img {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .projects {
    .project {
      h3 {
        font-size: 1.75em;
      }

      img {
        height: 8rem;
        width: 8rem;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .projects {
    .project {
      h3 {
        font-size: 1.25em;
      }

      img {
        height: 6rem;
        width: 6rem;
      }
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  .projects {
    .project {
      h3 {
        font-size: 1em;
      }

      img {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .projects {
    .project {
      h3 {
        font-size: 1em;
      }

      img {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}
